{
    "extends": [
      "wesbos"
    ],
    "rules": {
      "no-console": 0,
      "import/no-named-as-default": 0,
      "react/prop-types": "off",
      "prettier/prettier": [
        "error",
        {
          "trailingComma": "es5",
          "singleQuote": true,
          "printWidth": 120,
          "tabWidth": 4,
          "endOfLine":"auto"
        }
      ]
    }
  }